export NCRIC_DB="org_1446ff84711242ec828df181f45e4d20"
export SHUTTLE_ARGS="--shuttle-config shuttle-config --data-store alpr --read-rate-limit 0"

export PG_HOST="${PG_HOST}"
export WORKER_IP="${WORKER_IP}"
export WORKER_OS="${WORKER_OS}"

export atlas_pass="${atlas_pass}"
export rundeck_pass="${rundeck_pass}"
export rundeck_key="${rundeck_key}"
