export PG_HOST="${PG_HOST}"
export WORKER_IP="${WORKER_IP}"
export WORKER_OS="${WORKER_OS}"
export CLIENT_ID="${CLIENT_ID}"

export atlas_pass="${atlas_pass}"
export rundeck_pass="${rundeck_pass}"
export rundeck_key="${rundeck_key}"
export auth0_email="${auth0_email}"
export auth0_pass="${auth0_pass}"
