export HOST="DATASTORE"
export USER="ubuntu"

export ENV="${ENV}"
export S3_URL="${S3_URL}"
export FROM_EMAIL="${FROM_EMAIL}"
export CONFIG_BUCKET="${CONFIG_BUCKET}"
export CONDUCTOR_IP="${CONDUCTOR_IP}"
