#!/bin/bash

export     ENV="${ENV}"
export PG_CONF="${PG_CONF}"
export  PG_HBA="${PG_HBA}"
export  S3_URL="${S3_URL}"

export alprs_pass="${alprs_pass}"
export atlas_pass="${atlas_pass}"

export HOST="POSTGRESQL"
export USER="ubuntu"
