export HOST="POSTGRESQL"
export DEFAULT_USER="ubuntu"

export ENV="${ENV}"
export S3_URL="${S3_URL}"
export APP_URL="${APP_URL}"
export alprs_pass="${alprs_pass}"
export atlas_pass="${atlas_pass}"
export rundeck_pass="${rundeck_pass}"
export BACKUP_BUCKET="${BACKUP_BUCKET}"
