export HOST="CONDUCTOR"
export DEFAULT_USER="ubuntu"

export ENV="${ENV}"
export S3_URL="${S3_URL}"
export GH_TOKEN="${GH_TOKEN}"
export FROM_EMAIL="${FROM_EMAIL}"
export BACKUP_BUCKET="${BACKUP_BUCKET}"
export CONFIG_BUCKET="${CONFIG_BUCKET}"
