export HOST="INDEXER"
export USER="ubuntu"

export ENV="${ENV}"
export S3_URL="${S3_URL}"
export CONFIG_BUCKET="${CONFIG_BUCKET}"
export DATASTORE_IP="${DATASTORE_IP}"

export INDEXER_XMS="-Xms16g"
export INDEXER_XMX="-Xmx16g"
