export HOST="INDEXER"
export DEFAULT_USER="ubuntu"

export ENV="${ENV}"
export S3_URL="${S3_URL}"
export GITHUB_TOKEN="${GITHUB_TOKEN}"
export BACKUP_BUCKET="${BACKUP_BUCKET}"
export CONFIG_BUCKET="${CONFIG_BUCKET}"
export DATASTORE_IP="${DATASTORE_IP}"

export CLIENT_ID="${CLIENT_ID}"
export auth0_domain="maiveric.us.auth0.com"
export auth0_email="${auth0_email}"
export auth0_pass="${auth0_pass}"
