export HOST="INDEXER"
export USER="ubuntu"

export ENV="${ENV}"
export S3_URL="${S3_URL}"
export BACKUP_BUCKET="${BACKUP_BUCKET}"
export CONFIG_BUCKET="${CONFIG_BUCKET}"
export DATASTORE_IP="${DATASTORE_IP}"
