export HOST="BASTION"
export DEFAULT_USER="ec2-user"

export ENV="${ENV}"
export POSTGRESQL1_IP="${POSTGRESQL1_IP}"
export POSTGRESQL2_IP="${POSTGRESQL2_IP}"
export ELASTICSEARCH_IP="${ELASTICSEARCH_IP}"
export S3_URL="${S3_URL}"
export ALL_BUCKETS=(${ALL_BUCKETS})
export DEVOPS_EMAIL="${DEVOPS_EMAIL}"
