export HOST="ELASTICSEARCH"
export USER="ubuntu"

export ENV="${ENV}"
export S3_URL="${S3_URL}"
export ES_YML="${ES_YML}"
export KB_YML="${KB_YML}"
export NG_CONF="${NG_CONF}"
export BACKUP_BUCKET="${BACKUP_BUCKET}"
