# .tfvars FILE CONTAINS SENSITIVE DATA AND
# MUST NOT BE CHECKED INTO SOURCE CONTROL!
#
# Copy the .tfvars.example file to .tfvars
# and set the necessary environment values.

env = "dev"

aws_provider = {
  profile = "alprscom"
  region  = "us-west-2"
}

buckets = {
  webapp = "alprs-webapp-dev"
  config = "alprs-config-dev"
  audit  = "alprs-audit-dev"
  media  = "alprs-media-dev"
  sftp   = "alprs-sftp-dev"
}

elb_account_id = "797873946194"

ssh_key = {
  key_name   = "alprscom-admin"
  public_key = "ssh-ed25519 ... alprscom-admin"
}

AUTH0_M2M_CLIENT_ID     = ""
AUTH0_M2M_CLIENT_SECRET = ""
AUTH0_SPA_CLIENT_ID     = ""
AUTH0_SPA_CLIENT_SECRET = ""
FONTAWESOME_NPM_TOKEN   = ""
MAPBOX_PUBLIC_TOKEN     = "pk..."
ALPRS_SUPPORT_EMAIL     = "alprs.support@maiveric.com"
