# .tfvars FILE CONTAINS SENSITIVE DATA AND
# MUST NOT BE CHECKED INTO SOURCE CONTROL!
#
# Copy the .tfvars.example file to .tfvars
# and set the necessary environment values.

env = "prod"

aws_provider = {
  profile = "alprsgov"
  region  = "us-gov-west-1"
}

buckets = {
  webapp = "alprs-webapp-prod"
  config = "alprs-config-prod"
  audit  = "alprs-audit-prod"
  media  = "alprs-media-prod"
  sftp   = "alprs-sftp-prod"
}

elb_account_id = "048591011584"

ssh_key = {
  key_name   = "alprsgov-admin"
  public_key = "ssh-ed25519 ... alprsgov-admin"
}

AUTH0_M2M_CLIENT_ID     = ""
AUTH0_M2M_CLIENT_SECRET = ""
AUTH0_SPA_CLIENT_ID     = ""
AUTH0_SPA_CLIENT_SECRET = ""
FONTAWESOME_NPM_TOKEN   = ""
MAPBOX_PUBLIC_TOKEN     = "pk..."
ALPRS_SUPPORT_EMAIL     = "alprs.support@maiveric.com"
