# .tfvars FILE CONTAINS SENSITIVE DATA AND
# MUST NOT BE CHECKED INTO SOURCE CONTROL!
#
# Copy the .tfvars.example file to .tfvars
# and set the necessary environment values.

env = "prod"

accounts = {
  dev = {
    id        = "123456789012"
    region    = "us-west-2"
    partition = "aws"
  }
  prod = {
    id        = "123456789012"
    region    = "us-gov-west-1"
    partition = "aws-us-gov"
  }
}

aws_provider = {
  profile = "alprsgov"
  region  = "us-gov-west-1"
}

buckets = {
  webapp = "alprs-webapp-prod"
  config = "alprs-config-prod"
  backup = "alprs-backup-prod"
  audit  = "alprs-audit-prod"
  media  = "alprs-media-prod"
  sftp   = "alprs-sftp-prod"
}

# t3.micro:    x86,  2 vCPUs,   1 GiB, EBS only,  5 Gb/s, $.0104/hr
# t3.small:    x86,  2 vCPUs,   2 GiB, EBS only,  5 Gb/s, $.0208/hr
# t3.medium:   x86,  2 vCPUs,   4 GiB, EBS only,  5 Gb/s, $.0416/hr
# r6g.large:   ARM:  2 VCPUs,  16 GiB, EBS only, 10 Gb/s, $.1008/hr
# r6g.xlarge:  ARM,  4 vCPUs,  32 GiB, EBS only, 10 Gb/s, $.2016/hr
# r6g.2xlarge: ARM,  8 vCPUs,  64 GiB, EBS only, 10 Gb/s, $.4032/hr
# r6g.4xlarge: ARM, 16 vCPUs, 128 GiB, EBS only, 10 Gb/s, $.8064/hr
# t4g.small:   ARM:  2 VCPUs,   2 GiB, EBS only,  5 Gb/s, $.0168/hr
# t4g.medium:  ARM:  2 VCPUs,   4 GiB, EBS only,  5 Gb/s, $.0336/hr
# t4g.large:   ARM:  2 VCPUs,   8 GiB, EBS only,  5 Gb/s, $.0672/hr
# t4g.xlarge:  ARM,  4 vCPUs,  16 GiB, EBS only,  5 Gb/s, $.1344/hr
# t4g.2xlarge: ARM,  8 vCPUs,  32 GiB, EBS only,  5 Gb/s, $.2688/hr

instance_types = {
  postgresql    = "r6g.2xlarge"
  elasticsearch = "r6g.2xlarge"
  conductor     = "r6g.4xlarge"
  datastore     = "r6g.4xlarge"
  indexer       = "t4g.2xlarge"
  bastion       = "t3.medium"
  worker        = "t4g.xlarge"
}

root_volume_sizes = {
  postgresql    = 32
  elasticsearch = 32
  conductor     = 32
  datastore     = 32
  indexer       = 32
  bastion       = 32
  worker        = 32
}

data_volume_sizes = {
  postgresql1   = 4096
  postgresql2   = 4096
  elasticsearch = 1024
}

# host numbers in private subnet
private_ips = {
  postgresql1   = 11
  postgresql2   = 12
  elasticsearch = 20
  conductor     = 30
  datastore     = 40
  indexer       = 50
  bastion       = 60
  worker        = 70
}

# prevent unintentional
# instance terminations
lock_ami_versions = false

# restrict access to US
geo_restriction = false

# AWS-owned account that is
# allowed to write ELB logs
elb_account_id = "048591011584"

# ssh_keys[0] is used to create the required EC2 key pair
# for SSH access to each instance; the remaining keys are
# simply added to each host's ~/.ssh/authorized_keys file
ssh_keys = [{
  key_name   = "alprsgov-admin"
  public_key = "ssh-ed25519 ... alprsgov-admin"
  }, {
  public_key = "ssh-ed25519 ... authorized-user"
}]

sftp_users = {
  # note that ed25519 keys are NOT supported
  user_name = {
    public_key = "ssh-rsa ... third-party"
    home_dir   = "user_name"
  }
}

# headless user for Rundeck jobs
auth0_user = {
  email    = "ol@astrometrics.us"
  password = ""
}

# access to api.flocksafety.com
flock_user = {
  email    = "eyuan@maiveric.com"
  password = ""
}

AUTH0_M2M_CLIENT_ID     = "Urmsy2aviz7STXGLjhq5sECnUgL0pu01"
AUTH0_M2M_CLIENT_SECRET = ""
AUTH0_SPA_CLIENT_ID     = "uZXrWBfTt5LJEhtjDAKw1xgj6LqJWvWD"
AUTH0_SPA_CLIENT_SECRET = ""
FONTAWESOME_NPM_TOKEN   = ""
GITHUB_ACCESS_TOKEN     = "ghp..."
MAPBOX_PUBLIC_TOKEN     = "pk..."
ALPRS_DEVOPS_EMAIL      = "alprs.devops@maiveric.com"
ALPRS_SUPPORT_EMAIL     = "alprs.support@maiveric.com"
