# .tfvars FILE CONTAINS SENSITIVE DATA AND
# MUST NOT BE CHECKED INTO SOURCE CONTROL!
#
# Copy the .tfvars.example file to .tfvars
# and set the necessary environment values.

env = "prod"

aws_provider = {
  profile = "alprsgov"
  region  = "us-gov-west-1"
}

buckets = {
  webapp = "alprs-webapp-prod"
  config = "alprs-config-prod"
  backup = "alprs-backup-prod"
  audit  = "alprs-audit-prod"
  media  = "alprs-media-prod"
  sftp   = "alprs-sftp-prod"
}

# t3.micro:    x86,  2 vCPUs,   1 GiB, EBS only,  5 Gb/s, $.0104/hr
# t3.small:    x86,  2 vCPUs,   2 GiB, EBS only,  5 Gb/s, $.0208/hr
# t3.medium:   x86,  2 vCPUs,   4 GiB, EBS only,  5 Gb/s, $.0416/hr
# r6g.large:   ARM:  2 VCPUs,  16 GiB, EBS only, 10 Gb/s, $.1008/hr
# r6g.xlarge:  ARM,  4 vCPUs,  32 GiB, EBS only, 10 Gb/s, $.2016/hr
# r6g.2xlarge: ARM,  8 vCPUs,  64 GiB, EBS only, 10 Gb/s, $.4032/hr
# r6g.4xlarge: ARM, 16 vCPUs, 128 GiB, EBS only, 10 Gb/s, $.8064/hr
# t4g.small:   ARM:  2 VCPUs,   2 GiB, EBS only,  5 Gb/s, $.0168/hr
# t4g.medium:  ARM:  2 VCPUs,   4 GiB, EBS only,  5 Gb/s, $.0336/hr
# t4g.large:   ARM:  2 VCPUs,   8 GiB, EBS only,  5 Gb/s, $.0672/hr
# t4g.xlarge:  ARM,  4 vCPUs,  16 GiB, EBS only,  5 Gb/s, $.1344/hr
# t4g.2xlarge: ARM,  8 vCPUs,  32 GiB, EBS only,  5 Gb/s, $.2688/hr

instance_types = {
  postgresql    = "r6g.2xlarge"
  elasticsearch = "r6g.2xlarge"
  conductor     = "r6g.4xlarge"
  datastore     = "r6g.4xlarge"
  indexer       = "t4g.2xlarge"
  bastion       = "t3.medium"
  worker        = "t4g.xlarge"
}

data_volume_sizes = {
  postgresql    = 4096
  elasticsearch = 1024
}

elb_account_id = "048591011584"

ssh_keys = [{
  key_name   = "alprsgov-admin"
  public_key = "ssh-ed25519 ... alprsgov-admin"
  }, {
  public_key = "ssh-ed25519 ... authorized-user"
}]

sftp_users = {
  # note that ed25519 keys are NOT supported
  user_name = {
    public_key = "ssh-rsa ... third-party"
    home_dir   = "user_name"
  }
}

AUTH0_M2M_CLIENT_ID     = "Urmsy2aviz7STXGLjhq5sECnUgL0pu01"
AUTH0_M2M_CLIENT_SECRET = ""
AUTH0_SPA_CLIENT_ID     = "uZXrWBfTt5LJEhtjDAKw1xgj6LqJWvWD"
AUTH0_SPA_CLIENT_SECRET = ""
FONTAWESOME_NPM_TOKEN   = ""
MAPBOX_PUBLIC_TOKEN     = "pk..."
ALPRS_SUPPORT_EMAIL     = "alprs.support@maiveric.com"
