export HOST="WORKER"
export USER="ubuntu"

export ENV="${ENV}"
export S3_URL="${S3_URL}"
export SFTP_BUCKET="${SFTP_BUCKET}"
export MEDIA_BUCKET="${MEDIA_BUCKET}"
export BACKUP_BUCKET="${BACKUP_BUCKET}"
export POSTGRESQL_IP="${POSTGRESQL_IP}"
export DATASTORE_IP="${DATASTORE_IP}"

export rundeck_key="${rundeck_key}"
