export FA_TOKEN="${FA_TOKEN}"
export GH_TOKEN="${GH_TOKEN}"
export MB_TOKEN="${MB_TOKEN}"
export AUTH0_ID="${AUTH0_ID}"
export SUPPORT_EMAIL="${SUPPORT_EMAIL}"
export APP_URL="${APP_URL}"
export API_URL="${API_URL}"
